/* fonts */
@font-face {
    font-family: "BungeeShade";
    src: url(fonts/Bungee_Shade/BungeeShade-Regular.ttf);
}

@font-face {
    font-family: "BungeeOutline";
    src: url(fonts/Bungee_Outline/BungeeOutline-Regular.ttf);
}

@font-face {
    font-family: "BarlowCondensedLight";
    src: url(fonts/Barlow_Condensed/BarlowCondensed-Light.ttf);
}

@font-face {
    font-family: "BarlowCondensed";
    src: url(fonts/Barlow_Condensed/BarlowCondensed-SemiBold.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-image: url(images/Kendrick-Lamar.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

main {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    margin: 8vw 5vw;
    color: white;
}

/* header */

header h1 {
    font-family: "BungeeShade";
    padding: 20px;
}

/* navigation */

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    margin: 20px;
}

nav a {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    font-size: 30px;
    text-decoration: none;
    color: black;
    padding: 20px;
    font-family: "BarlowCondensedLight";

    flex-basis: 0;
    flex-grow: 1;
    height: 76px;

    display: flex;
    justify-content: center;
    align-items: center;
}

nav a:nth-child(2){
    border: 1px solid white;
    box-shadow: 0px 0px 10px white; 
    font-family: "BarlowCondensed";
    cursor: default;
}

nav a:not(:nth-child(2)):hover{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

/* big box */

section {
    margin: 20px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
}

section > div:first-of-type {
    grid-column: 2;
    grid-row: 1;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;

    position: relative;
}

div img {
    grid-column: 1 / span 2;
    grid-row: 1;
    max-width: 100%;
    border-radius: 30px 30px 0 0;
    transition: opacity 0.5s;
}

div img:first-of-type {
    z-index: 1;
}

div img:first-of-type:hover {
    opacity: 0;
}

div img:nth-of-type(2) div img:first-of-type:hover {
    opacity: 1;
}

section:first-of-type div div {
    background-color: rgb(153,150,123);
    margin-bottom: 10px;
    padding: 15px;
}

section article ul {
    list-style: none;
}

div div ol {
    padding-left: 15px;
}

div div:first-of-type {
    grid-row: 2;
    grid-column: 1;
    border-radius: 0 0 0 30px;
}

div div:nth-of-type(2) {
    grid-row: 2;
    grid-column: 2;
    border-radius: 0 0 30px 0;
}

section article:nth-of-type(2) {
    display: grid;
    grid-template-columns: repeat(6, 1fr);

    grid-column: 1 / span 2;
    gap: 10px;
}

section article:nth-of-type(2) p:not(div p) {
    padding: 20px;
    background-color: rgb(153,150,123);

    display: flex;
    justify-content: center;
    align-items: center;
}

section:first-of-type article:nth-of-type(2) p:first-of-type {
    border-radius: 30px 0 30px 30px;
}

section:first-of-type article:nth-of-type(2) p:nth-of-type(2) {
    grid-column: 3 / span 2;
    border-radius: 30px 30px 30px 0;
}

section:first-of-type article:nth-of-type(2) div {
    background-image: url(images/black-hippy.jpg);
    background-size: cover;
    border-radius: 0 30px 30px;
    display: flex;
}   

section article:nth-of-type(2) div p {
    text-shadow: 0 0 5px white;
    align-self: flex-end;
    padding: 15px;
}

section:first-of-type article:nth-of-type(2) p:nth-of-type(3) {
    grid-column: 6;
    grid-row: 1;
    border-radius: 30px 30px 0px 30px;
}

section:nth-of-type(2) div div {
    background-color: #4a6e76;
    margin-bottom: 10px;
    padding: 15px;
}

section:nth-of-type(2) article:nth-of-type(2) p:first-of-type {
    grid-column: 1 / span 2;
    border-radius: 30px 30px 30px 0;
}

section:nth-of-type(2) article:nth-of-type(2) p:nth-of-type(2) {
    border-radius: 0 30px 30px 30px;
}

section:nth-of-type(2) article:nth-of-type(2) div {
    grid-column: 4 / span 2;
    background-image: url(images/obama.jpg);
    background-size: cover;
    border-radius: 0 30px 30px 30px;

    display: flex;
}

section:nth-of-type(2) article:nth-of-type(2) p:nth-of-type(3) {
    border-radius: 30px 30px 0 30px;
}

section:nth-of-type(2) article:nth-of-type(2) p:not(div p) {
    background-color: #4a6e76;
}

/* text */
article:first-of-type p {
    margin: 50px 20px 0 0;
}

p, ul, ol, h5 {
    font-family: "BarlowCondensedLight";
}

h2 {
    font-family: "BungeeOutline";
}

h3 {
    font-family: "BarlowCondensed";
    font-weight: bolder;
}

h4 {
    font-family: "BarlowCondensed";
}

h5 {
    font-weight: lighter;
    padding: 10px 20px;
    letter-spacing: 0.5px;
}

/* media queries */
@media (max-width: 500px) {
    body {
        background-image: url(images/phone-kendrick-lamar.jpg);
        background-size: cover;
        background-position: center;
        margin: auto;
    }

    main {
        background-color: rgba(0, 0, 0, 0);
        margin: 0;
    }
    
    header {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 0;
    }

    header h1 {
        text-align: center;
        font-size: 13.5vw;
    }

    nav a {
        font-size: 4.5vw;
        margin: 40px 0;

        text-align: center;
        white-space: nowrap;
        width: 76px;
        height: 60px;
    }

    section > div:first-of-type {
        grid-column: 1 / span 2;
    }
    
    section article:first-of-type {
        grid-column: 1 / span 2;
    }

    section article:nth-of-type(2) {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 5px;
        margin-top: 15px;
    }
    
    section:first-of-type article:nth-of-type(2) p:nth-of-type(2) {
        grid-column: 2 / span 2;
    }
    
    section:first-of-type article:nth-of-type(2) div {
        grid-column: 2;
        grid-row: 2;
    }   
    
    section article:nth-of-type(2) div p {
        grid-column: 2;
        grid-row: 2;
    }
    
    section:first-of-type article:nth-of-type(2) p:nth-of-type(3) {
        grid-column: 3;
        grid-row: 2;
    }
    
    section:nth-of-type(2) article:nth-of-type(2) p:first-of-type {
        grid-column: 1 / span 2;
    }
    
    section:nth-of-type(2) article:nth-of-type(2) p:nth-of-type(2) {
        grid-column: 3;
    }
    
    section:nth-of-type(2) article:nth-of-type(2) div {
        grid-column: 1 / span 2;
        grid-row: 2;
    }
    
    section:nth-of-type(2) article:nth-of-type(2) p:nth-of-type(3) {
        grid-column: 3;
        grid-row: 2;
    }

    section article:first-of-type {
        grid-column: 1 / span 2;
    }

    /* font sizes */
    h2 {
        font-size: 7.4vw;
    }

    h3 {
        font-size: 5.8vw;
    }

    section > p:first-of-type {
        font-size: 4vw;
    }

    ul, section article p {
        font-size: 3.9vw;
    }

    section > p:nth-of-type(2) {
        font-size: 4vw;
    }

    section article:nth-of-type(2) p, h5, ol {
        font-size: 3.3vw;
    }
}

@media (min-width: 500px) and (max-width: 800px) {
    body {
       background-image: none;
       background-color: #b3b6b7;
    }

    nav a {
        font-size: 3.3vw;
        margin: 40px 0;

        text-align: center;
        white-space: nowrap;
        width: 76px;
        height: 60px;
    }

    section:first-of-type > div:first-of-type {
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 0.5fr 0.5fr;
        grid-column: 1 / span 2;
    }

    section:nth-of-type(2) > div:first-of-type {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0.5fr 0.5fr;
        grid-column: 1 / span 2;
    }

    div img {
        grid-column: 1 / span 2;
        grid-row: 1 / span 2;
        border-radius: 30px 0 0 30px;
    }

    section div div:first-of-type {
        grid-row: 1;
        grid-column: 3;
        border-radius: 0 30px 0 0;
        margin: 0;
        overflow: scroll;
        font-size: 2.2vw;
    }

    section div div:nth-of-type(2) {
        grid-row: 2;
        grid-column: 3;
        overflow: scroll;
        margin: 0;
        font-size: 2.2vw;
    }

    section article:first-of-type {
        grid-column: 1 / span 2;
    }

    article:first-of-type p {
        padding-bottom: 30px;
    }

    section article:nth-of-type(2) {
        grid-template-columns: repeat(4, 1fr);
        gap: 5px;
    }

    section:first-of-type article:nth-of-type(2) p:nth-of-type(2) {
        grid-column: 3 / span 2;
        grid-row: 1;
    }

    section:first-of-type article:nth-of-type(2) div {
        grid-column: 2;
        grid-row: 2;
    }

    section:first-of-type article:nth-of-type(2) p:nth-of-type(3) {
        grid-column: 3;
        grid-row: 2;
    }    
    
    section:nth-of-type(2) article:nth-of-type(2) div {
        grid-column: 2 / span 2;
        grid-row: 2;
        background-position: bottom;

        position: relative;
    }

    section:nth-of-type(2) article:nth-of-type(2) div p {
        text-shadow: 0 0 5px #4a6e76;
    }

    section:nth-of-type(2) article:nth-of-type(2) p:nth-of-type(3) {
        grid-column: 4;
        grid-row: 2;
    }

    /* font sizes */
    header h1 {
        font-size: 11vw;
        text-align: center;
        padding-top: 40px;
    }
    h2 {
        font-size: 7vw;
        grid-column: 1 / span 2;
    }

    h3 {
        font-size: 5.0vw;
    }

    div div h4 {
        font-size: 3.5vw;
    }

    h5 {
        font-size: 2.2vw;
    }

    ul, section article:first-of-type p {
        font-size: 2.7vw;
    }

    section article:nth-of-type(2) p {
        font-size: 2.2vw;
    }

}

@media (min-width: 800px) and (max-width:900px) {
    h1 {
        font-size: 75px;
    }

    h2 {
        font-size: 40px;
    }

    h3 {
        font-size: 30px;
    }

    h4 {
        font-size: 22px;
    }

    h5 {
        font-size: 14px;
    }

    ol {
        font-size: 15px;
    }

    ul, p {
        font-size: 18px;
    }
}

@media (min-width: 900px) and (max-width: 1200px) {
    /* fonts ökar med bredden */

     h1 {
        font-size: 11vw;
     }

     h2 {
        font-size: 4.5vw;
     }

     h3 {
         font-size: 1.9vw;
     }

     h4 {
         font-size: 2.4vw;
     }

     ol, h5 {
        font-size: 1.7vw;
     }

     section article:first-of-type p, ul {
        font-size: 2vw;
     }
}

@media (min-width: 1200px) {
    /* innehållet slutar växa */

    h1 {
        font-size: 132px;
     }

     h2 {
        font-size: 54px;
     }

     h3 {
         font-size: 22.8px;
     }

     h4 {
         font-size: 20.4px;
     }

     h5 {
        font-size: 18px;
     }

     ol {
        font-size: 18px;
     }
     
     p, ul {
        font-size: 19.2px;
     }

     body {
        display: flex;
        justify-content: center;
     }

     body > * {
        max-width: 1200px;
     }
}